<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
        <header>
          <img src="/public/images/logo-mercado-liebre.png" alt="Logo de tu página">
          <input type="text" placeholder="Buscar">
          <p>Comprá en cuotas y sin tarjeta de crédito.</p>
          <nav>
            <ul>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </nav>
          <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
          </ul>          
        </header>
    <main>
        <section>
              <h2>Basado en tu última visita</h2>
              <ul>
                <li>
                  <img src="/public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                  <span>$6.770</span>
                  <span>40% OFF</span>
                  <span>Cafetera Moulinex</span>
                </li>
                <li>
                  <img src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                  <span>$230.000</span>
                  <span>20% off</span>
                  <span>MacBook Pro 2019</span>
                </li>
                <li>
                  <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                  <span>$70.500</span>
                  <span>10% off</span>
                  <span>Samsung Galaxy S10</span>
                </li>
                <li>
                  <img src="/public/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43;">
                  <span>$23.200</span>
                  <span>5% off</span>
                  <span>SmartTv Samsung 43"</span>
                </li>
              </ul>
            </section>
          
            <section>
              <h2>Sección de Ofertas</h2>
              <ul>
                <li>
                  <img src="/public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                  <span>$6.770</span>
                  <span>40% off</span>
                  <span>Cafetera Moulinex</span>
                </li>
                <li>
                  <img src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                  <span>$230.000</span>
                  <span>20% off</span>
                  <span>MacBook Pro 2019</span>
                </li>
                <li>
                  <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                  <span>$70.500</span>
                  <span>10% off</span>
                  <span>Samsung Galaxy S10</span>
                </li>
                <li>
                  <img src="/public/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43;">
                  <span>$23.200</span>
                  <span>5% off</span>
                  <span>SmartTv Samsung 43"</span>
                </li>
              </ul>
     </section>
    </main>
    <footer>
        <section>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
          <h3>Envío gratis desde $2.500</h3>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
          <h3>Seguridad, de principio a fin</h3>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
      </footer>
      

</body>
